.card {
    width: 33.3%;
    float:left;
    box-shadow: 0px 0px 2px 0px #1B233F 25%;
    transition: 0.3s;
}



.card_container {
    padding: 24px 24px;
    left: 0px;
    top: 0px;
    margin: 0.5vw 12px 0.5vw 12px;
    border-radius: 24px;
    position: static;

}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}

.button:hover {
    background-color: #FFFFFF;
    opacity: 1;
    transition: 0.3s;
    color: #3E64FF;
}

.button{
    font-family: 'Nunito Sans', sans-serif;
    position: static;
    margin-right: 0.4vw;
    padding: 0.8vw 2vw;
    font-size: 0.8vw;
    border: 0;
    outline: 0;
    color: #fff;
    font-weight: 700;
    background: #373F5E;
    opacity: 0.6;
    border-radius: 69px;
}
.button_bar{
    
    float: left;
    height: auto;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0.5vw 12px;
}

.topbar{
    float: left;
    height: 3vw;
    padding: 0.5vw 2vw;
    width: 100%;
}
.image{
    position: absolute;
    width: auto;
    height: 3vw;
    left: 24px;
    top: 24px;

}

.title {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 1.5vw;
    position: static;
    left: calc(50% - 556.98px/2 - 89px);
    top: calc(50% - 27.79px/2);
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    display: flex;
    text-overflow: ellipsis;
    align-items: center;

    color: #FFFFFF;

}

